.header {
    width: 100%;
    background-color: var(--dark );
    padding: 1.4rem 0;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    display: flex;
    justify-content: space-between;
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: var(--light);
}
.navigation--link {
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 200;
}
.navigation--title {
    margin: 0;
}

.sign-in {
    font-size: 1.2rem;
    margin-right: 1rem;
    border: none;
    padding: 0.8rem 2rem;
    background-color: var(--primary);
    border-radius: 3px;
    cursor: pointer;
}
.dark-mode {
    height: 64px;
    width: 64px;
    margin-left: 1rem;
    fill: var(--light);
    cursor: pointer;
}