.leaderboard {
  width: 80%;
  font-size: 1.6rem;
  margin: 0 auto;
}
.leaderboard--table__row {
  background-color: var(--dark);
  color: var(--light);
  display: grid;
  grid-template-columns: 4.5rem 1fr 7rem;
}
.leaderboard--table__heading {
  border-bottom: 5px solid var(--primary);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  color:  reds;
}
.leaderboard--table__row:nth-child(2n) {
    opacity: 0.98;
}
.leaderboard--table__row > h4 {
  padding: 1rem;
  margin: 0;
  display: inline-block;
}
.leaderboard--position {
  background-color: var(--primary);
  color: var(--dark);
  text-align: center;
}
.leaderboard--name {
  text-align: left;
}
.leaderboard--time {
  text-align: right;
  font-weight: 400;
}
