@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --dark: #24271f;
  --light: #faf6ef;
  --primary: #ffac09;
  --green: #22ab43;
  --red: #994642;
}
html[data-theme='dark'] {
  --dark: #3f1f1f;
  --light: #000;
  --primary: #6f4c00;
  --green: #125b13;
  --red: #7f1612;
}

body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body {
  margin: 0;
  font-family: 'Roboto';
  background-color: var(--light);
  color: var(--dark);
}

.main {
  margin: 4rem 2rem;
  font-size: 1.8rem;
  position: relative;
}

.game {
  background-color: var(--primary);
  padding: 1rem 1.5rem;
  border-radius: 50%;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.game--letter {
  font-size: 15rem;
}
.game--alphabet {
  font-size: 3.5rem;
  margin: 0;
  opacity: 0.9;
}
.stats {
  position: absolute; 
  top: 0;
  left: 0;
  margin: 0 0 0 3rem;
}
.stats--stat {
  margin: 1rem 0;
}
.incorrect {
  color: var(--red);
}
.correct {
  color: var(--green);
}
.stats--stat__title {
  display: inline-block;
  margin: 0 1rem 0 0;
  font-weight: 300;
  font-size: 2.3rem;
}
.stats--stat__value {
  display: inline-block;
  font-weight: 800;
  font-size: 2.9rem;
}
